# Blockchain (Solidity / Hardhat / Truffle / Node) .gitignore

node_modules/
artifacts/
cache/
coverage/
coverage.json
typechain/
typechain-types/

# Hardhat network files
.env
.env.local
deployment-secrets.json

# Hardhat local node cache
hardhat-network/
